<div class="container">
  <div class="col">
    <h1 class="text-center">{{ title }}</h1>
    <br /><br />
  </div>
  <form action="" class="form-group row">
    <div class="form-group col-md-3">
      <label for="name">Nombre:</label>
      <input type="text" name="name" id="name" placeholder="Nombre" class="form-control" [(ngModel)]="inputName" />
    </div>
    <div class="form-group col-md-3">
      <label for="lastName">Apellido:</label>
      <input type="text" name="lastName" id="lastName" placeholder="Apellido" class="form-control"
        [(ngModel)]="inputLastName" />
    </div>
    <div class="form-group col-md-3">
      <label for="position">Posicion:</label>
      <input type="text" name="position" id="position" placeholder="Posicion" class="form-control"
        [(ngModel)]="inputPosition" />
    </div>
    <div class="form-group col-md-3">
      <label for="salary">Salario:</label>
      <input type="number" name="salary" id="salary" placeholder="Salario" class="form-control"
        [(ngModel)]="inputSalary" />
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary mt-2" (click)="addEmployee()">
        Agregar
      </button>
    </div>
  </form>
</div>
<br />

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <app-employee-son *ngFor="let employee of employees; let i = index" [employee]="employee" [i]="i">
    </app-employee-son>
  </div>
</div>

<br>